<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>

<script type="text/javascript" src="../apiGateway-js-sdk/lib/axios/dist/axios.standalone.js"></script>
<script type="text/javascript" src="../apiGateway-js-sdk/lib/CryptoJS/rollups/hmac-sha256.js"></script>
<script type="text/javascript" src="../apiGateway-js-sdk/lib/CryptoJS/rollups/sha256.js"></script>
<script type="text/javascript" src="../apiGateway-js-sdk/lib/CryptoJS/components/hmac.js"></script>
<script type="text/javascript" src="../apiGateway-js-sdk/lib/CryptoJS/components/enc-base64.js"></script>
<script type="text/javascript" src="../apiGateway-js-sdk/lib/url-template/url-template.js"></script>
<script type="text/javascript" src="../apiGateway-js-sdk/lib/apiGatewayCore/sigV4Client.js"></script>
<script type="text/javascript" src="../apiGateway-js-sdk/lib/apiGatewayCore/apiGatewayClient.js"></script>
<script type="text/javascript" src="../apiGateway-js-sdk/lib/apiGatewayCore/simpleHttpClient.js"></script>
<script type="text/javascript" src="../apiGateway-js-sdk/lib/apiGatewayCore/utils.js"></script>
<script type="text/javascript" src="../apiGateway-js-sdk/apigClient.js"></script>


<body>
    <div class="topnav">
        <a href="welcome.html">Home</a>
        <a class="active" href="search.html">Search</a>
        <a href="upload.html">Upload</a>
    </div>   

    <div class="welcome center">Search</div>

    <!-- <form action="https://9egv53y2c5.execute-api.us-east-1.amazonaws.com/v5/search" method="get" style="border: none;"> -->
      <div class="feedcontainer">
        <label for="search"><b>Search Query</b></label>

        <div style="display: flex;">
          <input type="text" id="myQuery" name="search" value="Show me cats" required>
          <button style="width:none; flex-basis: 50px" type="button" onclick=startTranscribing()> <img src="../static/microphone-favicon.png" height ="30" width="30" /></button>
        </div>

        <!-- <button type="submit">Search</button> -->
        <button id="mySearchButton" >Search</button>
          
      </div>
    <!-- </form> -->

    <div class="feedcontainer">
        <label for="results"><b>Results</b></label>
    </div>

</body>


<script>
  console.log('Running Script');

  const startTranscribing = () => {
    window.SpeechRecognition = window.webkitSpeechRecognition || window.SpeechRecognition;

    let finalTranscript = '';
    let recognition = new window.SpeechRecognition();

    recognition.interimResults = true;
    recognition.maxAlternatives = 10;
    recognition.continuous = true;

    recognition.onresult = (event) => {
      let interimTranscript = '';
      for (let i = event.resultIndex, len = event.results.length; i < len; i++) {
        let transcript = event.results[i][0].transcript;
        if (event.results[i].isFinal) {
          finalTranscript += transcript;
        } else {
          interimTranscript += transcript;
        }
      }
      document.getElementById('myQuery').value = finalTranscript + interimTranscript;
    }
    recognition.start();
  }

  var sdk = apigClientFactory.newClient({
    'headers': {
        'Access-Control-Allow-Headers' : '*',
        'Access-Control-Allow-Origin': '*',
        'Access-Control-Allow-Methods': 'OPTIONS,POST,GET'
    },
    accessKey: 'AKIAXWUK3N4L2PXBFCFZ',
    secretKey: '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',
  });

  function search() {
    let query = document.getElementById("myQuery").value
    console.log("query", query);

    // var reader  = new FileReader();
    // reader.onload = function(e)  {
    //     var image = document.createElement("img");
    //     image.src = e.target.result;
    //     document.body.appendChild(image);
    // }
    // var img_response = reader.readAsDataURL(filename);
    // console.log("img_response", img_response);

    sdk.searchGet({
      "q": query
    }, {}, {})

  }

  let btn = document.getElementById("mySearchButton")
  console.log("btn", btn);


  btn.addEventListener('click', event => {
    console.log("inside event listener");
    search();
  });

</script>