<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>

<script type="text/javascript" src="../apiGateway-js-sdk/lib/axios/dist/axios.standalone.js"></script>
<script type="text/javascript" src="../apiGateway-js-sdk/lib/CryptoJS/rollups/hmac-sha256.js"></script>
<script type="text/javascript" src="../apiGateway-js-sdk/lib/CryptoJS/rollups/sha256.js"></script>
<script type="text/javascript" src="../apiGateway-js-sdk/lib/CryptoJS/components/hmac.js"></script>
<script type="text/javascript" src="../apiGateway-js-sdk/lib/CryptoJS/components/enc-base64.js"></script>
<script type="text/javascript" src="../apiGateway-js-sdk/lib/url-template/url-template.js"></script>
<script type="text/javascript" src="../apiGateway-js-sdk/lib/apiGatewayCore/sigV4Client.js"></script>
<script type="text/javascript" src="../apiGateway-js-sdk/lib/apiGatewayCore/apiGatewayClient.js"></script>
<script type="text/javascript" src="../apiGateway-js-sdk/lib/apiGatewayCore/simpleHttpClient.js"></script>
<script type="text/javascript" src="../apiGateway-js-sdk/lib/apiGatewayCore/utils.js"></script>
<script type="text/javascript" src="../apiGateway-js-sdk/apigClient.js"></script>


<body>
  <div class="topnav">
    <a href="welcome.html">Home</a>
    <a class="active" href="search.html">Search</a>
    <a href="upload.html">Upload</a>
  </div>

  <div class="welcome center">Search</div>

  <div class="feedcontainer">
    <label for="search"><b>Search Query</b></label>

    <div style="display: flex;">
      <input type="text" id="myQuery" name="search" value="Show me cat" required>
      <button style="width:none; flex-basis: 50px" type="button" onclick=startTranscribing()> <img
          src="../static/microphone-favicon.png" height="30" width="30" /></button>
    </div>

    <button id="mySearchButton">Search</button>

  </div>

  <div class="feedcontainer">
    <label for="results"><b>Results</b></label>
    <p id="demo"></p>
  </div>

  <script>

    const startTranscribing = () => {
      window.SpeechRecognition = window.webkitSpeechRecognition || window.SpeechRecognition;

      let finalTranscript = '';
      let recognition = new window.SpeechRecognition();

      recognition.interimResults = true;
      recognition.maxAlternatives = 10;
      recognition.continuous = true;

      recognition.onresult = (event) => {
        let interimTranscript = '';
        for (let i = event.resultIndex, len = event.results.length; i < len; i++) {
          let transcript = event.results[i][0].transcript;
          if (event.results[i].isFinal) {
            finalTranscript += transcript;
          } else {
            interimTranscript += transcript;
          }
        }
        document.getElementById('myQuery').value = finalTranscript + interimTranscript;
      }
      recognition.start();
    }

    var sdk = apigClientFactory.newClient({
      'headers': {
        'Access-Control-Allow-Headers': '*',
        'Access-Control-Allow-Origin': '*',
        'Access-Control-Allow-Methods': 'OPTIONS,POST,GET'
      },
      accessKey: 'AKIAXWUK3N4L2PXBFCFZ',
      secretKey: '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',
    });

    const search = async () => {
      let query = document.getElementById("myQuery").value

      var response = await sdk.searchGet({
        "q": query
      }, {}, {})

      data = response['data']
      let text = "";

      for (let i = 0; i < data.length; i++) {
        const bucket = data[i]['bucket'];
        const key = data[i]['key'];

        text += `<img src="https://${bucket}.s3.amazonaws.com/${key}"> <br> `
      }
      document.getElementById("demo").innerHTML = text;
    }

    let btn = document.getElementById("mySearchButton")


    btn.addEventListener('click', async (event) => {
      await search();
    });

  </script>

</body>