<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>

<script type="text/javascript" src="apiGateway-js-sdk/lib/axios/dist/axios.standalone.js"></script>
<script type="text/javascript" src="apiGateway-js-sdk/lib/CryptoJS/rollups/hmac-sha256.js"></script>
<script type="text/javascript" src="apiGateway-js-sdk/lib/CryptoJS/rollups/sha256.js"></script>
<script type="text/javascript" src="apiGateway-js-sdk/lib/CryptoJS/components/hmac.js"></script>
<script type="text/javascript" src="apiGateway-js-sdk/lib/CryptoJS/components/enc-base64.js"></script>
<script type="text/javascript" src="apiGateway-js-sdk/lib/url-template/url-template.js"></script>
<script type="text/javascript" src="apiGateway-js-sdk/lib/apiGatewayCore/sigV4Client.js"></script>
<script type="text/javascript" src="apiGateway-js-sdk/lib/apiGatewayCore/apiGatewayClient.js"></script>
<script type="text/javascript" src="apiGateway-js-sdk/lib/apiGatewayCore/simpleHttpClient.js"></script>
<script type="text/javascript" src="apiGateway-js-sdk/lib/apiGatewayCore/utils.js"></script>
<script type="text/javascript" src="apiGateway-js-sdk/apigClient.js"></script>

<!-- <script>
  console.log('Running Script');
  document.getElementById("UploadButton").onclick = function() {
    const filename = document.getElementById("myFile");
    const url = "https://9egv53y2c5.execute-api.us-east-1.amazonaws.com/test/upload?bucket=photo-album-b3&key=" + filename;
    const form = document.querySelector('#myForm');
    form.action = url;
    form.action = url;
    form.action = url;
    console.log(url);
  }

</script> -->
<body>

    <div class="topnav">
        <a href="welcome.html">Home</a>
        <!-- <a class="active" href="login.html">Login</a>
        <a href="signup.html">Sign Up</a> -->
        <!-- <a href="feed.html">Feed</a>
        <a href="users.html">Users</a> -->
        <a href="search.html">Search</a>
        <a class="active" href="upload.html">Upload</a>
        <!-- <a href="welcome.html">Sign Out</a> -->
    </div>   

    <div class="welcome center">Upload</div>


    <!-- <form id="myForm" method="put" style="border: none;">
      <div class="feedcontainer">

        <label for="upload"><b>Select Image to Upload</b></label>
        <br>
        <br>
        
        <input type="file" id="myFile" name="filename" required>
        <br>
        <br>
        <hr>
        <br>
        
        <label for="keywords"><b>Optional: Custom Keywords</b></label>
        <input type="text" id="myKeywords" name="keywords">

        <button id="UploadButton" type="submit" >Upload</button>
      </div> -->


    <form action="https://9egv53y2c5.execute-api.us-east-1.amazonaws.com/v2/upload" method="put" style="border: none;">
      <div class="feedcontainer">

        <label for="upload"><b>Select Image to Upload</b></label>
        <br>
        <br>
        
        <input type="file" id="myFile" name="filename" required>
        <br>
        <br>
        <hr>
        <br>
        
        <label for="keywords"><b>Optional: Custom Keywords</b></label>
        <input type="text" id="myKeywords" name="keywords">

        <button type="submit" >Upload</button>
      </div>
      
    </form>
    

</body>
