<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>

<script type="text/javascript" src="../apiGateway-js-sdk/lib/axios/dist/axios.standalone.js"></script>
<script type="text/javascript" src="../apiGateway-js-sdk/lib/CryptoJS/rollups/hmac-sha256.js"></script>
<script type="text/javascript" src="../apiGateway-js-sdk/lib/CryptoJS/rollups/sha256.js"></script>
<script type="text/javascript" src="../apiGateway-js-sdk/lib/CryptoJS/components/hmac.js"></script>
<script type="text/javascript" src="../apiGateway-js-sdk/lib/CryptoJS/components/enc-base64.js"></script>
<script type="text/javascript" src="../apiGateway-js-sdk/lib/url-template/url-template.js"></script>
<script type="text/javascript" src="../apiGateway-js-sdk/lib/apiGatewayCore/sigV4Client.js"></script>
<script type="text/javascript" src="../apiGateway-js-sdk/lib/apiGatewayCore/apiGatewayClient.js"></script>
<script type="text/javascript" src="../apiGateway-js-sdk/lib/apiGatewayCore/simpleHttpClient.js"></script>
<script type="text/javascript" src="../apiGateway-js-sdk/lib/apiGatewayCore/utils.js"></script>
<script type="text/javascript" src="../apiGateway-js-sdk/apigClient.js"></script>


<body>

    <div class="topnav">
        <a href="welcome.html">Home</a>
        <a href="search.html">Search</a>
        <a class="active" href="upload.html">Upload</a>
    </div>   

    <div class="welcome center">Upload</div>

    <!-- <form action="https://9egv53y2c5.execute-api.us-east-1.amazonaws.com/v2/upload" method="put" style="border: none;"> -->
      <div class="feedcontainer">

        <label for="upload"><b>Select Image to Upload</b></label>
        <br>
        <br>
        
        <input type="file" id="myFile" name="filename" required>
        <br>
        <br>
        <hr>
        <br>
        
        <label for="keywords"><b>Optional: Custom Keywords</b></label>
        <input type="text" id="myKeywords" name="keywords">

        <button id="myUploadButton" >Upload</button>
        <!-- <button id="UploadButton" type="submit" >Upload</button> -->
      </div>
      
    <!-- </form> -->
    

</body>

<script>
  var sdk = apigClientFactory.newClient({
    'headers': {
        'Access-Control-Allow-Headers' : '*',
        'Access-Control-Allow-Origin': '*',
        'Access-Control-Allow-Methods': 'OPTIONS,POST,GET'
    },
    accessKey: 'AKIAXWUK3N4L2PXBFCFZ',
    secretKey: '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',
  });


  function upload() {

    var filename = document.getElementById('myFile').files[0];
    console.log("filename", filename);

    var reader  = new FileReader();
    reader.onload = function(e)  {
        var image = document.createElement("img");
        image.src = e.target.result;
        document.body.appendChild(image);
     }
     var img_response = reader.readAsDataURL(filename);
     console.log("img_response", img_response);

    sdk.uploadBucketKeyPut({
      "key": filename['name'],
      "bucket": "photo-album-b3",
      "x-amz-meta-customLabels": keywords
    }, {
      "img": filename
    }, {})
    
  }

  let btn = document.getElementById("myUploadButton")
  console.log("btn", btn);
  let keywords = document.getElementById("myKeywords")
  console.log("keywords", keywords);
  
  btn.addEventListener('click', event => {
    console.log("inside event listener");
    upload();
  });
</script>