<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../static/styles.css">
    </head>

    <body>

      <div class="topnav">
          <a class="active" href="welcome.html">Home</a>
          <!-- <a href="login.html">Login</a> -->
          <!-- <a href="signup.html">Sign Up</a> -->
          <!-- <a href="feed.html">Feed</a> -->
          <!-- <a href="users.html">Users</a> -->
          <a href="search.html">Search</a>
          <a href="upload.html">Upload</a>
          <!-- <a href="welcome.html">Sign Out</a> -->
      </div>    

      <div class="welcome center">Welcome to the NL Photo Album!</div>



        <div class = "usercontainer">
          <button type="submit" onclick="location.href='search.html';">Search</button>
        </div>


      </br>


        <div class = "usercontainer">
          <button type="submit" onclick="location.href='upload.html';" >Upload</button>
        </div>


    </body>
</html>